<div class="top-tags post-tags hidden md:block">
  <ul class="taglist">
    {% for tag in collections.tagList %}
    <li>
      <a href="{{ '/tag/' | url }}{{ tag.tagName | slugify }}">{{ tag.tagName | lower }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

{%-css %}
.post-tags {
  text-align: center;
}
{%-endcss %}
