[build.environment]
  NODE_VERSION = "lts/*"
[build]
  command = "pnpm build"
  publish = "dist"
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "same-origin"
    Permissions-Policy = "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()"
[[headers]]
  for = "/*.woff2"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
[[headers]]
  for = "/img/*"
  [headers.values]
    Cache-Control = "max-age=2592000, private"
[[redirects]]
  from = "/rss"
  to = "/atom.xml"
  status = 301
  force = true
[[redirects]]
  from = "/feed"
  to = "/atom.xml"
  status = 301
  force = true
[[redirects]]
  from = "/github"
  to = "https://github.com/equk"
  status = 301
  force = true
[[redirects]]
  from = "/gh"
  to = "https://github.com/equk"
  status = 301
  force = true
[[redirects]]
  from = "/mastodon"
  to = "https://hachyderm.io/@equilibriumuk"
  status = 301
  force = true
[[redirects]]
  from = "/bluesky"
  to = "https://bsky.app/profile/equilibriumuk.bsky.social"
  status = 301
  force = true
[[redirects]]
  from = "/bsky"
  to = "https://bsky.app/profile/equilibriumuk.bsky.social"
  status = 301
  force = true
