  <footer>
    <div class="footer-content">
      <div class="grid sm:grid-cols-1 md:grid-cols-3 md:gap-8 lg:grid-cols-4">
        <div class="footer-title">
          equk
        </div>
        <div class="hidden lg:block">
        </div>
        <div class="footer-nav">
          <nav aria-label="Footer navigation" class="gap-x-2 text-center sm:gap-x-0">
            <ul class="md:self-center">
              {%- for entry in collections.all | eleventyNavigation %}
              <li class="nav-item"><a href="{{ entry.url }}" aria-label="{{ entry.title }}" title="{{ entry.title }}" {% if entry.url==page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a></li>
              {%- endfor %}
            </ul>
          </nav>
        </div>
        <div class="soc-blk hidden md:block">
{% include "base/socblock.html" %}
        </div>
      </div>
    </div>
    <div class="copyright-c">
      <div class="copyright-content md:grid-cols-2">
        <div class="copyright text-center md:text-left">© {{ datenow | htmlDateYear }} equk.co.uk all rights reserved.</div>
        <div class="powered-by hidden text-right md:block">
          Powered by
          <a href="https://www.11ty.dev/" title="Generator 11ty" target="_blank" aria-label="go to 11ty" rel="noopener noreferrer"><img src="/media/logos/11ty-96x96.png" alt="11ty" width="20px" height="20px"></a>
          <a href="https://www.netlify.com/" title="Hosted by Netlify" target="_blank" aria-label="go to netlify" rel="noopener noreferrer"><img src="/media/logos/netlify.svg" alt="netlify" width="20px" height="20px"></a>
        </div>
      </div>
    </div>
  </footer>

{%- css %}
footer {
  background-color: var(--theme-footer-bg);
  border-top-width: 1px;
  border-color: var(--theme-bg);
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%235552cf' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

footer .copyright img,
footer .powered-by img {
  height: 20px;
  vertical-align: middle;
  display: inline;
}

footer .footer-title {
  font-size: var(--size-xl);
  line-height: 2.25rem;
  text-transform: uppercase;
  align-self: center;
  font-family: var(--font-header);
  text-align: center;
  font-weight: 600;
}

footer nav a {
  color: var(--theme-text);
}

footer nav li {
  display: inline-block;
  list-style: none
}

footer nav ul {
  padding-left: 0;
}

footer .footer-content {
  max-width: 72rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background: var(--theme-bg);
  margin: 15px auto;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

footer .copyright-c {
  background: var(--theme-bg);
  border-top: 1px;
  border-color: var(--theme-bg);
  border-style: solid;
  padding: 0 1rem;
  padding-bottom: 1px;
  background: var(--theme-bg);
  margin-top: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-width: 72rem;
}

footer .copyright-content {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  margin: 5px auto;
  border-radius: 15px;
  display: grid;
  font-size: 14px;
}

footer ul {
  margin-block-start: 0;
}

footer .footer-nav,
footer .footer-title,
footer .soc-blk {
  margin: auto 0;
}

footer .footer-content,
footer .copyright-c {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {

  footer .footer-title {
    margin-bottom: 15px;
    font-size: var(--size-xxl);
  }
}

@media (max-width: 1152px) {

  footer .footer-content,
  footer .copyright-c {
    margin: 15px 10px;
  }
}
{%- endcss %}
