<header class="top">
      <div class="topbar md:flex md:justify-between">
        <div class="flex justify-between">
          <a class="site-title" href="/">EQUK</a>
          <div class="md:hidden">
            <button class="nav" id="toggle-navigation-menu" aria-label="Toggle Menu" type="button" data-aw-toggle-menu="">
              <svg astro-icon="tabler:menu" class="h-6 w-6" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M4 8h16"></path>
                  <path d="M4 16h16"></path>
                </g>
              </svg>
            </button>
          </div>
        </div>
        <nav aria-label="Main navigation" id="main-nav" class="hidden w-full md:mx-5 md:flex md:w-auto md:overflow-visible">
          <ul class="flex w-full flex-col md:flex-row self-center md:text-base">
            {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item"><a href="{{ entry.url }}" aria-label="{{ entry.title }}" title="{{ entry.title }}" {% if entry.url==page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a></li>
            {%- endfor %}
          </ul>
          <toggle-dark>
            <button class="nav" aria-label="toggle dark mode" type="button" id="toggle-dark" data-aw-toggle-color-scheme=""><svg class="h-5 w-5" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <circle cx="12" cy="12" r="4"></circle>
                <path d="M3 12h1m8-9v1m8 8h1m-9 8v1M5.6 5.6l.7.7m12.1-.7-.7.7m0 11.4.7.7m-12.1-.7-.7.7"></path>
              </g></svg>
            </button>
          </toggle-dark>
        </nav>
      </div>
    </header>