<header class="top">
      <div class="topbar md:flex md:justify-between">
        <nav aria-label="soc navigation" id="soc-nav" class="main-nav hidden">
          <ul>
            <li><a href="/atom.xml" target="_blank" aria-label="atom feed" rel="noopener noreferrer">
              <svg viewBox="0 0 24 24"><path fill="currentColor" d="M6.503 20.752c0 1.794-1.456 3.248-3.251 3.248-1.796 0-3.252-1.454-3.252-3.248 0-1.794 1.456-3.248 3.252-3.248 1.795.001 3.251 1.454 3.251 3.248zm-6.503-12.572v4.811c6.05.062 10.96 4.966 11.022 11.009h4.817c-.062-8.71-7.118-15.758-15.839-15.82zm0-3.368c10.58.046 19.152 8.594 19.183 19.188h4.817c-.03-13.231-10.755-23.954-24-24v4.812z"></path></svg>
            </a></li>
          </ul>
        </nav>
        <div class="flex justify-between">
          <a class="site-title" href="/">EQUK</a>
          <div class="md:hidden">
            <button class="nav" id="toggle-navigation-menu" aria-label="Toggle Menu" type="button" data-aw-toggle-menu="">
              <svg class="h-6 w-6" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M4 8h16"></path>
                  <path d="M4 16h16"></path>
                </g>
              </svg>
            </button>
          </div>
        </div>
        <nav aria-label="Main navigation" id="main-nav" class="main-nav hidden">
          <ul>
            {%- for entry in collections.all | eleventyNavigation %}
            <li><a href="{{ entry.url }}" aria-label="{{ entry.title }}" title="{{ entry.title }}" {% if entry.url==page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a></li>
            {%- endfor %}
          </ul>
          <toggle-dark>
{% include "base/toggle-dark.html" %}
          </toggle-dark>
        </nav>
      </div>
    </header>
