---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "src/_styles/prism/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "src/_styles/prism/prism-diff.css" %}{%- endcss %}

<main>
  <article class="content">
    <header class="pb-16 pt-24">
      <div class="space-y-4">
        <h1 class="text-center text-5xl font-bold dark:text-gray-100">{{ title }}</h1>
        <div>
          <div>
            <div class="text-center leading-6 text-gray-500 dark:text-gray-400">
              <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% if image %}
    <div class="hero-image">
      <div class="hero-w">
        {% image image, "" %}
      </div>
    </div>
    {% endif %}

    <section class="post-full-content xl:relative">
      <div class="post-content">
        <div class="xl:col-span-3 xl:row-span-2 xl:pb-0">
          <div class="prose lg:prose-lg mx-auto max-w-none">
            <div class="content-body">
              {{ content | safe }}
            </div>
          </div>
        </div>
      </div>
      <div class="post-footer border-t border-b border-slate-200 px-3 py-2 dark:border-slate-700/40">
        <div class="flex items-center">
          <div class="flex items-center">
            <img class="object-cover h-20 rounded-full" src={{ metadata.author.photo }} alt={{ metadata.author.name }} />
          </div>
          <div class="mx-5 flex-1 items-center text-left">
            <a href="/about" class="mx-2 text-2xl font-semibold text-gray-700 dark:text-gray-200">
              {{ metadata.author.name }}
            </a>
            <br />
            <span class="mx-2 text-sm">{{ metadata.author.bio }}</span>
            <br />
            <time class="mx-2 text-sm text-gray-600 dark:text-gray-300 uppercase" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
          </div>
          <div class="hidden md:flex items-center text-sm text-right">
            <div class="post-tags">
              <ul class="taglist">
                {%- for tag in tags | filterTagList %}
                {%- set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
                <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %} {% endif %}</li>
                {%- endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>