/*
  -----------------------------------------
  Global CSS Styles
  -----------------------------------------
  equk 11ty blog
  https://github.com/equk/
 */


/*
  -----------------------------------------
  Imports
  -----------------------------------------
 */

@import 'src/_styles/fonts.css';
@import 'src/_styles/hero.css';
@import 'src/_styles/prism/prism-catppuccin.css';
@import 'src/_styles/prism/language-tabs.css';
@import 'src/_styles/table.css';

/*
  -----------------------------------------
  Base Styles
  -----------------------------------------
 */

body {
  margin: auto;
  padding: 0;
  text-align: left;
}

nav a {
  margin: 0 5px;
}

/*
  -----------------------------------------
  Font Styles
  -----------------------------------------
 */

body {
  font-family: var(--font-base);
}

code,
kbd,
samp,
pre {
  font-family: var(--font-mono);
}

:root {
  --font-base: Inter, var(--font-system);
  --font-header: Open Sans, var(--font-system);
  --font-mono: Fira Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
  -----------------------------------------
  TailwindCSS Styles
  -----------------------------------------
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    --theme-bg: #fff;
    --theme-link: #d14;
    --theme-hover: #0282c9;
    --theme-text: #2c3e50;
    --theme-accent: #cc2a42;
    --theme-accent-2: #111;
    --theme-quote: #0282c9;
    --theme-menu-bg: rgb(250 250 250 / 0.85);
    --theme-footer-bg: #807dfa;
    --theme-comment-bg: #f2f3f5;
    --table-header: hsl(218, 27%, 48%);
    --table-row-even: hsl(220, 16%, 94%);
    --table-row-odd: hsl(220, 16%, 98%);
    --table-hover: #e5e9f0;
    --table-border: #e2e8f0;
  }

  :root.dark {
    color-scheme: dark;
    --theme-bg: #0e092d;
    --theme-link: #ffc962;
    --theme-hover: #ff8762;
    --theme-text: #efefef;
    --theme-accent: #0282c9;
    --theme-accent-2: #eee;
    --theme-quote: #ffc962;
    --theme-menu-bg: rgb(29 31 33 / 0.85);
    --theme-footer-bg: #807dfa;
    --theme-comment-bg: #0a0a15;
    --table-header: hsl(220, 16%, 16%);
    --table-row-even: hsl(220, 16%, 20%);
    --table-row-odd: hsl(220, 16%, 24%);
    --table-hover: #4c566a;
    --table-border: rgb(51 65 85/0.4);
  }

  html {
    @apply h-full scroll-smooth;
  }

  html body {
    @apply bg-bgColor font-normal text-textColor antialiased;
  }

  main {
    @apply mx-auto;
    padding: 0 1rem;
  }

  main .content {
    min-height: 50vh;
  }

  main .post-full-content {
    min-height: 60vh;
  }

  main .tag-content {
    min-height: calc(100vh - 222px);
  }

  main .post-content,
  main .post-footer,
  main .post-comments,
  main .post-list,
  main .pagination {
    @apply mx-auto max-w-4xl;
  }

  main .tags-list {
    @apply mx-auto max-w-2xl;
  }

  main .hero-image,
  main .post-full-content {
    @apply pb-8;
  }

  main .post-content {
    @apply pt-8;
  }

  a {
    color: var(--theme-link);
  }

  a:hover {
    color: var(--theme-hover);
    transition: color 0.7s ease;
  }

  main a.post-title-link:hover,
  main a.post-title-link:focus {
    color: var(--theme-hover);
  }

  main a.post-title-link {
    color: var(--theme-text);
  }

  main .postlist-date {
    color: var(--theme-link);
  }
}

/* Medium Text */

.text-m {
  font-size: 1rem;
  line-height: 1.25rem;
}

/*
  -----------------------------------------
  Header
  -----------------------------------------
 */

header .topbar {
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  width: 100%;
  justify-content: space-between;
}

header a {
  color: var(--theme-text);
}

header nav ul {
  margin: 0;
}

.main-nav {
  width: 100%;
  text-align: center;
}

.main-nav ul {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.75rem;
  align-self: center;
  padding-left: 0;
}

.main-nav li {
  align-self: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    text-align: left;
    width: auto;
  }

  .main-nav ul {
    display: flex;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .main-nav li {
    padding-bottom: 0;
    padding-top: 0;
  }
}

#social-nav {
  margin-left: 10px;
}

#social-nav svg {
  height: 1rem;
  width: 1rem;
  display: inline;
  max-height: fit-content;
}

#social-nav a:hover svg {
  transform: scale(1.2);
  color: var(--theme-text);
}

header .site-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  align-self: center;
  font-family: var(--font-header);
  margin-left: 10px;
}

header a.site-title:hover {
  color: var(--theme-text);
}

button.nav {
  padding: 10px;
  margin-top: 5px;
  align-items: center;
}

button.nav:hover {
  background-color: rgba(40, 40, 40, 0.25);
  border-radius: 50%;
}

.dark button.nav:hover {
  background-color: rgba(40, 40, 40, 0.85);
  border-radius: 50%;
}

/*
  -----------------------------------------
  Footer
  -----------------------------------------
 */

footer {
  background-color: var(--theme-footer-bg);
  border-top-width: 1px;
  border-color: var(--theme-bg);
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%235552cf' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

footer .copyright img,
footer .powered-by img {
  height: 20px;
  vertical-align: middle;
  display: inline;
}

footer .footer-title {
  font-size: var(--size-xl);
  line-height: 2.25rem;
  text-transform: uppercase;
  align-self: center;
  font-family: var(--font-header);
  text-align: center;
  font-weight: 600;
}

footer nav a {
  color: var(--theme-text);
}

footer nav li {
  display: inline-block;
  list-style: none
}

footer nav ul {
  padding-left: 0;
}

footer .footer-content {
  max-width: 72rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background: var(--theme-bg);
  margin: 15px auto;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

footer .copyright-c {
  background: var(--theme-bg);
  border-top: 1px;
  border-color: var(--theme-bg);
  border-style: solid;
  padding: 0 1rem;
  padding-bottom: 1px;
  background: var(--theme-bg);
  margin-top: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-width: 72rem;
}

footer .copyright-content {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  margin: 5px auto;
  border-radius: 15px;
  display: grid;
  font-size: 14px;
}

footer ul {
  margin-block-start: 0;
}

footer .footer-nav,
footer .footer-title,
footer .social-blocks {
  margin: auto 0;
}

footer .footer-content,
footer .copyright-c {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {

  footer .footer-title {
    margin-bottom: 15px;
    font-size: var(--size-xxl);
  }
}

@media (max-width: 1152px) {

  footer .footer-content,
  footer .copyright-c {
    margin: 15px 10px;
  }
}

/*
  -----------------------------------------
  Top Tags
  -----------------------------------------
 */

main .content .top-tags {
  text-align: right;
  font-family: var(--font-header);
  align-items: center;
  font-size: 1rem;
}

main .content .top-tags li {
  display: inline-block;
  list-style: none;
}

main .content .top-tags ul {
  padding-left: 0;
  margin: 0;
}

main .content .top-tags a {
  color: var(--theme-link);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

main .content .top-tags a:hover {
  color: var(--theme-hover);
}

/*
  -----------------------------------------
  Pagination
  -----------------------------------------
 */

.pagination a {
  color: var(--theme-text);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pagination a:hover {
  color: var(--theme-hover);
}

/*
  -----------------------------------------
  Code Blocks
  -----------------------------------------
 */

/* Text Codeblock */

pre:has(> code) {
  background-color: #0d0828;
  color: #fff;
  border-left: 1px solid #140d40;
  border-right: 1px solid #140d40;
  border-bottom: 1px solid #140d40;
  border-radius: 0;
}

pre:has(> code)::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: #140d40;
}

/* Code Background */

:not(pre)>code[class*='language-'],
pre[class*='language-'] {
  background: #0d0828;
}

/* Task Lists */

li.task-list-item {
  list-style: none;
  margin-left: 0px;
}

/* inline code */

:not(pre)>code {
  background-color: #eef9ff !important;
  border-radius: 0.3125em !important;
  color: #0175b4 !important;
  padding: 0.1em 0.2em !important;
  font-weight: normal !important;
}

.dark :not(pre)>code {
  background-color: #1f1b41 !important;
  color: #9dfc7c !important;
}

/*
  -----------------------------------------
  Post Styles
  -----------------------------------------
 */

/* Post Content */

main .post-content {
  grid-template-rows: auto 1fr
}

main .content-body {
  margin-block-end: var(--space-md);
}

/* Content Head */

main .content-title {
  text-align: center;
  line-height: 1;
}

main .content-date {
  text-align: center;
  font-size: var(--size-base);
  color: rgb(107, 114, 128);
}

.dark main .content-date {
  color: rgb(156, 163, 175);
}

/* Blockquote */

main blockquote {
  background-color: #eef9ff;
  border-left: 5px solid var(--theme-quote);
  padding: 1.25em 2.25em;
  margin: 0.5em 0;
  font-style: normal;
  position: relative;
}

main blockquote p {
  margin: 0;
}

.dark main blockquote {
  background-color: var(--theme-bg);
}

main blockquote::before {
  font-family: Arial, ui-sans-serif, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  content: "\201C";
  color: var(--theme-quote);
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

main blockquote::after {
  content: '';
}

main blockquote cite {
  font-size: var(--size-base);
  margin-block-start: var(--space-s);
  display: block;
}

/* Article Header */

@media (max-width: 768px) {
  main .content header {
    padding-top: 0;
    padding-bottom: 2rem;
  }
}

/*
  -----------------------------------------
  Post Elements
  -----------------------------------------
 */

/* Font Awesome */

.icon-svg {
  display: inline;
  vertical-align: middle;
  height: 1em;
  width: 1em;
  max-height: fit-content;
  max-width: fit-content;
}

/* Feed Icon */

.feed-ico {
  display: inline-block;
  vertical-align: middle;
  background-color: rgb(255, 165, 0);
  border-radius: 5%;
  color: #fff;
  padding: 5%;
}

/* External Links */

a.ext-link:before {
  display: inline-flex;
  content: '🔗';
  overflow: hidden;
  color: var(--theme-text);
  height: fit-content;
  width: fit-content;
  margin-right: 0.3em;
  font-size: 16px;
}

/* Github Button */

a.github {
  @apply py-2 px-4 border-gray-200 border rounded;
}

a.github {
  color: #111;
  background-color: #eff3f6;
  background-image: -webkit-linear-gradient(top, #fafbfc, #eff3f6 90%);
  background-image: -moz-linear-gradient(top, #fafbfc, #eff3f6 90%);
  background-image: linear-gradient(180deg, #fafbfc, #eff3f6 90%);
  background-position: -1px -1px;
  background-repeat: repeat-x;
  background-size: 110% 110%;
  font-size: var(--size-sm);
}

a.github i {
  font: normal normal normal 1.4rem/1 ForkAwesome;
  padding-right: 5px;
}


a.github:focus,
a.github:hover {
  color: #111;
  background-color: #e6ebf1;
  background-image: -webkit-linear-gradient(top, #f0f3f6, #e6ebf1 90%);
  background-image: -moz-linear-gradient(top, #f0f3f6, #e6ebf1 90%);
  background-image: linear-gradient(180deg, #f0f3f6, #e6ebf1 90%);
  border-color: #a5a9ac;
  border-color: rgba(27, 31, 35, 0.35);
}

a.github .icon-svg {
  height: 1.3em;
  width: 1.3em;
  vertical-align: text-bottom;
}

/* Language Circle */

.language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-left: 0.3em;
}

.language-color.js {
  background-color: #f1e05a;
}

.language-color.ps {
  background-color: #012456;
}

.language-color.py {
  background-color: #3572A5;
}

.language-color.go {
  background-color: #00ADD8;
}

.language-color.php {
  background-color: #4F5D95;
}

.language-color.sh {
  background-color: #89e051;
}

.language-color.c {
  background-color: #555555;
}

.language-color.rust {
  background-color: #dea584;
}

.language-color.ts {
  background-color: #2b7489;
}

.language-color.lua {
  background-color: #000080;
}

/* Color Highlight */

.git-fork {
  color: #6f42c1;
}

.yt-red {
  color: #ff0000;
}

/* Invert Dark Images in Dark Mode */

.dark img.dark-logo {
  filter: invert(1);
}

/* Alignment Helpers */

.post-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-content img.inline {
  display: inline;
}

/*
  -----------------------------------------
  Scroll To Top
  -----------------------------------------
 */

.scroll-to-top {
  bottom: 20px;
  right: 20px;
  opacity: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--theme-text);
  background-color: rgba(200, 200, 200, 0.8);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
  padding: 3px;
  pointer-events: none;
  position: fixed;
  transition: opacity 300ms ease;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dark .scroll-to-top {
  background-color: rgba(44, 50, 66, 0.8);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.scroll-to-top svg {
  width: 16px;
}

.scroll-to-top:hover {
  color: var(--theme-text);
}

.scroll-to-top.show {
  opacity: 1;
  pointer-events: all;
}

@media (min-width: 768px) {
  .scroll-to-top {
    bottom: 50%;
  }
}

@media (min-width: 1600px) {
  .scroll-to-top {
    right: 20vw;
  }
}

/*
  -----------------------------------------
  Message Blocks
  -----------------------------------------
 */

article.message {
  margin-block-start: var(--space-s);
  font-size: var(--size-base);
}

.message-header {
  @apply bg-black text-white font-bold rounded-t px-4 py-2;
  background-color: #1a252f;
  color: #fff;
  font-family: var(--font-header);
}

.message-header p,
.message-body p {
  margin: 0;
}

.message-body {
  @apply border border-t-0 border-gray-400 bg-gray-100 px-6 py-6 text-gray-700;
  margin-bottom: 1em;
}

.message.is-warning>div {
  @apply border-0 border-yellow-200 border-l-4 bg-yellow-50 text-yellow-600;
}

.message.is-danger>div {
  @apply border-0 border-red-400 border-l-4 bg-red-50 text-red-600;
}

.message.is-info>div {
  @apply border-0 border-sky-400 border-l-4 bg-sky-50 text-sky-600;
}

.dark .message.is-info>div a,
.dark .message.is-dark>div a {
  color: var(--theme-hover);
}

.dark .message.is-info>div a:hover,
.dark .message.is-dark>div a:hover {
  color: var(--theme-link);
}

.message-body i {
  font-size: 1.2em;
  padding: 0 10px;
}

/*
  -----------------------------------------
  Callout Blocks
  -----------------------------------------
 */

.callout-block {
  padding: 0 0.8em;
  margin-block-start: var(--space-s);
}

.callout-block.info {
  @apply border-gray-400 border-l-4;
}

.callout-block.info .callout-block-title {
  @apply text-gray-600;
}

.dark .callout-block.info .callout-block-title {
  @apply text-gray-400;
}

.callout-block.tip,
.callout-block.note,
.callout-block-note,
.callout-block-tip {
  @apply border-sky-400 border-l-4;
}

.callout-block.tip .callout-block-title,
.callout-block.note .callout-block-title,
.callout-block-tip .callout-block-title,
.callout-block-note .callout-block-title {
  @apply text-sky-600;
}

.dark .callout-block.tip .callout-block-title,
.dark .callout-block.note .callout-block-title,
.dark .callout-block-tip .callout-block-title,
.dark .callout-block-note .callout-block-title {
  @apply text-sky-400;
}

.callout-block.warning,
.callout-block-warning {
  @apply border-yellow-200 border-l-4;
}

.callout-block.warning .callout-block-title,
.callout-block-warning .callout-block-title {
  @apply text-yellow-400;
}

.dark .callout-block.warning .callout-block-title,
.dark .callout-block-warning .callout-block-title {
  @apply text-yellow-200;
}

.callout-block-danger {
  @apply border-red-400 border-l-4;
}

.callout-block-danger .callout-block-title {
  @apply text-red-600;
}

.dark .callout-block-danger .callout-block-title {
  @apply text-red-400;
}

.callout-block-important {
  @apply border-purple-400 border-l-4;
}

.callout-block-important .callout-block-title {
  @apply text-purple-600;
}

.dark .callout-block-important .callout-block-title {
  @apply text-purple-400;
}

.callout-block-details {
  @apply border-gray-400 border-l-4 bg-gray-100 text-gray-700;
}

.callout-block-caution,
.callout-block.caution {
  @apply border-orange-400 border-l-4;
}

.callout-block-caution .callout-block-title,
.callout-block.caution .callout-block-title {
  @apply text-orange-600;
}

.dark .callout-block-caution .callout-block-title,
.dark .callout-block.caution .callout-block-title {
  @apply text-orange-400;
}

.callout-block.danger {
  @apply border-red-400 border-l-4;
}

.callout-block.danger .callout-block-title {
  @apply text-red-600;
}

.dark .callout-block.danger .callout-block-title {
  @apply text-red-400;
}

.callout-block.important {
  @apply border-purple-400 border-l-4;
}

.callout-block.important .callout-block-title {
  @apply text-purple-600;
}

.dark .callout-block.important .callout-block-title {
  @apply text-purple-400;
}

.callout-block.details {
  @apply border-gray-400 border-l-4 bg-gray-100 text-gray-700;
}

.callout-block-title {
  font-weight: 600;
  margin: 0;
}

.callout-block p+p {
  margin: 8px 0;
}

.callout-block.details summary {
  margin: 0 0 8px;
  font-weight: 700;
  cursor: pointer;
}

.callout-block.details summary+p {
  margin: 8px 0;
}

/* Wide Elements */

@media only screen and (min-width: 960px) {

  .wide-img,
  blockquote,
  pre,
  article.message {
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
    max-width: none !important;
    width: 1016px;
  }
}

.width-full img {
  border-radius: 0;
  clear: both;
  display: block;
  margin-left: 50%;
  max-width: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100vw;
}

/* Image Borders */

.wide-img,
.post-content img.border {
  border: 1px solid #020204;
}

/* Button */

.btn {
  @apply py-2 px-4 rounded;
}

/* Post List */

.post-title {
  font-size: var(--size-xl);
  line-height: 1.3rem;
  font-family: var(--font-header);
}

.postlist-date {
  font-family: var(--font-header);
  font-size: var(--size-base);
}

.postlist-item {
  margin-block-start: var(--space-s);
}

.postlist {
  margin-bottom: 1.5rem;
  list-style-type: none;
}

.postlist-meta {
  text-transform: uppercase;
}

/* Tags List */

.tagslist {
  padding: 0;
}

.tagslist-item {
  display: flex;
  align-items: center;
}

.taglist-title {
  font-size: 1.375rem;
  font-family: var(--font-header);
  display: block;
}

.taglist-date {
  font-family: var(--font-header);
  font-size: 1.1rem;
  color: var(--theme-link);
  display: block;
  padding-right: 0.5rem;
  width: 9rem;
  text-align: right;
  order: -1;
}

/* Post Footer Tags */

.post-tags a {
  display: inline-block;
  margin: 0 .625rem 0 0;
  font-size: 1rem;
  border-radius: 9999px;
  padding: 4px 16px;
  color: var(--theme-text);
  border: 1px solid;
  border-color: rgb(226, 232, 240);
  transition: 0.3s linear;
}

.dark .post-tags a {
  background-color: transparent;
  border-color: rgb(51 65 85/0.4);
}

.post-tags a:before {
  content: "\0023"
}

.post-tags a:hover {
  background-color: #a09dfb;
}

.taglist li {
  display: inline-block;
  list-style: none
}

ul.taglist {
  margin: 0;
  padding: 0
}

/*
  -----------------------------------------
  Markdown Headers
  -----------------------------------------
 */
.header-anchor {
  text-decoration: none;
  font-style: normal;
  font-size: 1em;
  margin-left: .1em;
}

a[href].header-anchor,
a[href].header-anchor:visited {
  color: transparent;
}

a[href].header-anchor:focus,
a[href].header-anchor:hover {
  text-decoration: underline;
}

a[href].header-anchor:focus,
:hover>a[href].header-anchor {
  color: #aaa;
}

h2+.header-anchor {
  font-size: 1.5em;
}

/* post footer */

.author-info img {
  border: 2px solid white;
  transition: 0.2s linear;
}

.author-info img:hover {
  border: 2px solid var(--theme-link);
}

.author-link {
  font-size: var(--size-md);
  font-family: var(--font-header);
  color: var(--theme-text);
  font-weight: bold;
}

/*
  -----------------------------------------
  Social Media Reactions
  -----------------------------------------
 */

.post-reactions {
  margin-block-start: var(--space-s);
}

.post-reactions {
  display: grid;
  grid-auto-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.masto-flex,
.bsky-flex {
  display: grid;
}

.masto-post,
.bsky-post {
  border-radius: 5px;
  padding: 0.75rem;
  text-decoration: none;
}

.masto-post p,
.bsky-post p {
  font-size: 1rem;
}

.masto-post a,
.bsky-post a {
  text-decoration: none;
  color: var(--theme-text);
}

.masto-post a:hover,
.bsky-post a:hover {
  text-decoration: none;
  color: var(--theme-hover);
}

.mastodon-title {
  margin-bottom: 0.25rem;
}

.mastodon-text {
  margin: 0.5rem 0 0.25rem;
  padding-left: 0.25rem;
}

.mastodon-text .ellipsis,
.mastodon-text .invisible {
  display: none
}

.mastodon-name {
  font-weight: 700;
  display: flex;
}

.mastodon-icon {
  width: 20px;
  height: auto;
  margin: 0 4px;
  color: #563ACC;
}

.mastodon-data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}

.mastodon-data-icon {
  display: inline-flex;
  width: 2rem;
  height: 1rem;
}

.mastodon-data-count {
  display: inline-flex;
  padding: 0 1rem;
}

.bluesky-title {
  margin-bottom: 0.25rem;
}

.bluesky-text {
  margin: 1rem 0 0rem;
  padding-left: 0.25rem;
}

.bluesky-text .ellipsis,
.bluesky-text .invisible {
  display: none
}

.bluesky-name {
  font-weight: 700;
  display: flex;
}

.bluesky-icon {
  width: 20px;
  height: auto;
  margin: 0 4px;
  color: #0085ff;
}

.bluesky-data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}

.bluesky-data-icon {
  display: inline-flex;
  width: 2rem;
  height: 1rem;
}

.bluesky-data-count {
  display: inline-flex;
  padding: 0 1rem;
}

/*
  -----------------------------------------
  Typography Styles
  -----------------------------------------
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: var(--font-header);
}

img,
video {
  max-width: 100%;
}

figure,
picture {
  margin: 1em 0;
}

figcaption {
  font-size: 0.875em;
}

code {
  font-size: 0.875em;
  font-weight: 600;
}

pre {
  padding: 1.25rem 1.5rem;
  overflow-x: auto;
  border-radius: 0.375rem;
}

pre,
code {
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  background: transparent;
}

pre code {
  font-weight: inherit;
}

ol,
ul {
  padding-left: 1.25em;
}

ol {
  list-style-type: decimal;
}

hr {
  margin: 2em 0;
}

table {
  display: block;
  margin: 1em 0;
  border-collapse: collapse;
  overflow-x: auto;
}

td,
th {
  padding: 0 0.5em;
}

abbr {
  cursor: help;
}

kbd {
  border: 1px solid;
  padding: 0.25rem 0.5rem;
  font-size: 0.875em;
  border-radius: 0.25rem;
}

details {
  margin: 1em 0;
  padding: 1.25rem 1.5rem;
}

summary {
  cursor: pointer;
  font-weight: 600;
}

main ul {
  list-style-type: disc;
}

/*
  Font Scaling + Spacing (clamp)
  -----------------------------------------
*/

/* h1 {
  font-size: var(--size-xxxl);
  margin-block-start: var(--space-xxxl);
} */

h1 {
  font-size: 55px;
  margin-block-start: 80px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 38px;
    margin-block-start: 40px;
  }
}

h2 {
  font-size: var(--size-xxl);
  margin-block-start: var(--space-xxl);
}

h3 {
  font-size: var(--size-xl);
  margin-block-start: var(--space-xl);
}

h4 {
  font-size: var(--size-lg);
  margin-block-start: var(--space-lg);
}

h5 {
  font-size: var(--size-md);
  margin-block-start: var(--space-md);
}

h6 {
  font-size: var(--size-base);
  margin-block-start: var(--space-s);
}

p,
ul,
ol,
pre,
blockquote {
  font-size: var(--size-base);
  margin-block-start: var(--space-s);
}

table {
  font-size: var(--size-base);
  line-height: 2rem;
}

:root {
  --size-xxxl: clamp(1.6875rem, 1.2177rem + 2.349vi, 3.4375rem);
  --size-xxl: clamp(1.5625rem, 1.2773rem + 1.4262vi, 2.625rem);
  --size-xl: clamp(1.4375rem, 1.2865rem + 0.755vi, 2rem);
  --size-lg: clamp(1.3125rem, 1.1951rem + 0.5872vi, 1.75rem);
  --size-md: clamp(1.1875rem, 1.1036rem + 0.4195vi, 1.5rem);
  --size-base: clamp(1.13rem, 0.13vi + 1.09rem, 1.25rem);
  --size-sm: 1rem;
  --space-xs: clamp(0.5625rem, 0.5122rem + 0.2517vi, 0.75rem);
  --space-s: clamp(0.75rem, 0.6829rem + 0.3356vi, 1rem);
  --space-md: clamp(1.125rem, 1.0243rem + 0.5034vi, 1.5rem);
  --space-lg: clamp(1.5rem, 1.3658rem + 0.6711vi, 2rem);
  --space-xl: clamp(1.875rem, 1.7072rem + 0.8389vi, 2.5rem);
  --space-xxl: clamp(3rem, 2.7315rem + 1.3423vi, 4rem);
  --space-xxxl: clamp(3.75rem, 3.4144rem + 1.6779vi, 5rem);
  --space-xxxxl: clamp(5.625rem, 5.1216rem + 2.5168vi, 7.5rem);
}