---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
pagination:
  data: collections.posts
  size: 8
  alias: postslist
  reverse: true
permalink: "{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}{% endif %}/index.html"
ogtype: website
---
<main>
  <article class="content">
    <section class="page-full-content">
      <div class="post-content">
        {% if pagination.pageNumber < 1 %}
          {% include "toptags.njk" %}
        {% endif %}
        {% include "postslist.njk" %}
        <div class="pagination">
          <nav class="pagenav" role="navigation">
            {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}" rel="prev">Prev</a>{% endif %}
            {{ pagination.pageNumber + 1 }} of {{ pagination.pages | length }}
            {% if pagination.href.next %}<a href="{{ pagination.href.next }}" rel="next">Next</a>{% endif %}
          </nav>
        </div>
      </div>
    </section>
  </article>
</main>
