---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
permalink: /tag/{{ tag | slugify }}/
---

<main>
  <article class="content">
    <section class="page-full-content">
      <div class="post-content">
        <header class="pb-16 pt-24">
          <div class="space-y-4">
            <h1 class="text-center text-5xl font-bold dark:text-gray-100">Posts tagged with #{{ tag }}</h1>
          </div>
        </header>
        {% set postslist = collections[ tag ] | reverse %}
        {% include "postslist.njk" %}
      </div>
    </section>
  </article>
</main>