---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/tag.njk
permalink: /tag/{{ tag | slugify }}/
---

<main>
  <article class="tag-content">
    <section class="page-full-content">
      <div class="post-content">
        <header class="pb-6">
            <h2 class="text-center">Posts tagged with #{{ tag }}</h2>
        </header>
        {% set tagslist = collections[ tag ] | reverse %}
        {% include "tagslist.njk" %}
        <div class="pagination">
          <nav class="pagenav" role="navigation">
            <a href="/" rel="home">Home</a>
          </nav>
        </div>
      </div>
    </section>
  </article>
</main>
