<div class="post-comments">
  <div class="comments">
    <p class="p-6 text-center border-2 border-gray-100 rounded-lg dark:border-slate-700/40">
      <i class="fa fa-commenting"></i> Comments are currently disabled
    </p>
  </div>
</div>