{%- css %}
.post-reactions {
  margin-block-start: var(--space-s);
}

.post-reactions {
  display: grid;
  grid-auto-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

@media (min-width: 40rem) {
  .post-reactions {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 48rem) {
  .post-reactions {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.masto-flex,
.bsky-flex {
  display: grid;
  position: relative;
}

.masto-post,
.bsky-post {
  border-radius: 0.75rem;
  padding: 0.75rem;
  text-decoration: none;
  border: 1px solid #cbd5e1;
}

.dark .masto-post,
.dark .bsky-post {
  border-color: #1e293b;
}

.masto-post p,
.bsky-post p {
  font-size: 1rem;
}

.masto-post a,
.bsky-post a {
  text-decoration: none;
  color: var(--theme-text);
}

.masto-post a:hover,
.bsky-post a:hover {
  text-decoration: none;
  color: var(--theme-hover);
}

.mastodon-title,
.bluesky-title {
  margin-bottom: 0.25rem;
}

.mastodon-text,
.bluesky-text {
  margin: 0.5rem 0 0.25rem;
  padding-left: 0.25rem;
  padding-bottom: 24px;
}

.mastodon-text .ellipsis,
.mastodon-text .invisible,
.bluesky-text .ellipsis,
.bluesky-text .invisible {
  display: none;
}

.mastodon-name,
.bluesky-name {
  font-weight: 600;
}

.mastodon-data,
.bluesky-data {
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
  justify-content: space-around;
}

.mastodon-data-icon,
.bluesky-data-icon {
  display: inline-flex;
  width: 2rem;
  height: 1rem;
}

.mastodon-data-count,
.bluesky-data-count {
  display: inline-flex;
  padding: 0 1rem;
}

.mastodon-icon {
  width: 24px;
  height: auto;
  margin: 0 4px;
  color: #563acc;
  position: absolute;
  top: 16px;
  right: 16px;
}

.bluesky-icon {
  width: 24px;
  height: auto;
  margin: 0 4px;
  color: #0085ff;
  position: absolute;
  top: 16px;
  right: 16px;
}
{%- endcss %}
